@charset "utf-8";

.row1 {
    background-image: url(../img/ai.jpg);
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.heading{
    color: #42f5c2;
    font-family: "Roboto Mono", monospace;
    font-size: 40px;
}
.tagline{
    color: #42f5c2;
    font-family: "Roboto Mono", monospace;
    font-size: 20px;
}

.b1{
    margin-top: 100px;
    width: 50%;
    height: 50%;
}
h2:hover{
    color:#f5426f;
}

